[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chainer = "*"
"cupy-cuda100" = "*"
pytube = "*"
opencv-python = "*"
"h5py" = "*"

[dev-packages]

[requires]
python_version = "3.6"
